<div class="main">
   <div class="residents-form">
     <div class="col-md-12 col-sm-3">
         <form>  
            <div class="form-group">
               <h1 style=" text-align: center">Alugar Apartamento</h1>

                     </div>
           

         </form>
      
         

        <table class="table">
           <thead class="thead-dark">
             <tr>
               <th scope="col"> </th>
               <th scope="col">Bloco</th>
               <th scope="col">Andar</th>
               <th scope="col">Numero</th>
               <th scope="col">Status</th>
               <th scope="col"></th>
             </tr>
           </thead>
           <tbody>
             <tr>
               <th scope="row">1</th>
               <td>A</td>
               <td>Primeiro</td>
               <td>45</td>
               <td>Liberado</td>
               <td><button class="btn btn-success"  [routerLink]="['/register']" (click)="incrementRegister()">Alugar</button></td>
           
                 </tr>
             <tr>
               <th scope="row">2</th>
               <td>B</td>
               <td>Terceiro</td>
               <td>10</td>
               <td>Liberado</td>
               <td><button class="btn btn-success" [routerLink]="['/register']" (click)="incrementRegister()">Alugar</button></td>
             </tr>
             <tr>
               <th scope="row">3</th>
               <td>C</td>
               <td>Quinta</td>
               <td>5</td>
               <td>Liberado</td>
               <td><button class="btn btn-success"  [routerLink]="['/register']" (click)="incrementRegister()">Alugar</button></td>
             </tr>
           </tbody>
         
         </table>
   </div>
</div>





















