body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  width: 100%;
  height: auto;
  background-image: url("https://innovationinsider.com.br/wp-content/uploads/2016/08/background-preto-fundo.jpg");
  overflow-x: hidden;
  position: fixed;
  top: 0;
  left: 0
}


.img {
  padding: 200px 100px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
}



@media screen and (min-width: 768px){
  .main{
      margin-left: 100%; 
  }

}
